.bg-linear{
    background: linear-gradient(90deg, rgba(0,158,219,1) 0%, rgba(255,255,255,1) 100%);
}

.desc-dashboard{
    width: 500px;
}

.section-2{

}

body {
    margin: 0;
    background-color: hsl(0, 0%, 96%);
    height: 100vh;
  }

.wallet{
    border: 1px solid #aeaeae;
    width: 600px;
    border-radius: 15px;
    position: relative;
    margin-top: -50px;
    position: absolute;
}

.wallet-title{
    font-size: 20px;
}

.btn-wallet{
    color: #009EDB;
}

.btn-wallet i{
    font-size: px;
}

.dot{
    background-color: #aeaeae;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 2px;
}

.product button {
    padding: 10px 20px;
    background-color: #00659E; /* Ubah warna latar belakang tombol */
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #00568c; /* Ubah warna latar belakang tombol saat dihover */
  }
  